.item_mobile {
    background-color: rgb(83, 83, 83);;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    width: 100%;
    border: 0.5px solid rgb(131, 130, 130);
    margin-bottom: 5px;
    border-radius: 5px;
    color: whitesmoke;
  }
  
  .item_mobile h1 {
    width: 100%;
    text-align: center;
    color: rgb(197, 233, 205);
    font-size: 4rem;
  }
  
  .table_mobile {
    table-layout: fixed;
    width: 100%; /* must have this set */
    text-align: center;
    border-collapse: separate;
    border-spacing: 0; 
  }
  
  .tr_header {
    background-color: transparent;
    font-style: italic;
    font-size: 3.5rem;
  }
  
  .tr_bottom {
    background-color: transparent;
    font-style: italic;
    font-size: 3.5rem;
  }

  .tr_header_img_arrows {
    vertical-align: middle;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  
  .tr_header_img_weather {
    vertical-align: middle;
    text-align: center;
    height: 140px;
    width: 140px;
  }
