.header {
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header_day {
    background-color: rgb(67, 66, 66);
    border: 2px solid black;
    color: white;
}

.header_night {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: black;
}

.header_label {
    font-style: italic;
    padding: 10px;
    font-size: 1.2rem;
}

.header_combobox {
    width: auto;
    text-align: right;
    padding: 10px;
}

.header_label_mobile {
    font-style: italic;
    padding: 20px;
    font-size: 6rem;
}