.item_browser {
  background-color: rgb(83, 83, 83);;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  border: 0.5px solid rgb(131, 130, 130);
  margin-bottom: 5px;
  border-radius: 5px;
  color: whitesmoke;
}

.item_browser h3 {
  width: 100%;
  text-align: center;
}

.table_browser {
  table-layout: fixed;
  width: 100%; /* must have this set */
  text-align: center;
  border-collapse: separate;
  border-spacing: 0; 
}

.tr_header {
  background-color: transparent;
  font-style: italic;
  font-size: 0.9rem;
}

.tr_header_img_arrows {
  vertical-align: middle;
  text-align: center;
}

.tr_header_img_weather {
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 1000px) {
  .table_browser {
    font-size: 1rem;
    font-weight: bolder;
    text-wrap: nowrap;
  }
}

@media (max-width: 1000px) {
  .table_browser {
    font-size: 0.7rem;
    font-weight: bolder;
    text-wrap: wrap;
  }
}

@media (min-width: 1000px) {
  .tr_header_img_arrows {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 1000px) {
  .tr_header_img_arrows {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 1000px) {
  .tr_header_img_weather {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 1000px) {
  .tr_header_img_weather {
    height: 35px;
    width: 35px;
  }
}