.item_browser {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.item_browser_day {
  background-color: whitesmoke;
  color: rgb(83, 83, 83);
  border: 0.5px solid rgb(29, 29, 29);
}

.item_browser_night {
  background-color: rgb(83, 83, 83);
  color: whitesmoke;
  border: 0.5px solid rgb(233, 230, 230);
}

.item_browser_weekdate {
  width: 100%;
  text-align: center;
}

.item_browser_labelgray {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  color: darkgrey;
}

.table_browser {
  table-layout: fixed;
  width: 100%; /* must have this set */
  text-align: center;
  border-collapse: separate;
  border-spacing: 0; 
}

.tr_header {
  background-color: transparent;
  font-style: italic;
  font-size: 0.9rem;
}

.tr_header_img_arrows {
  vertical-align: middle;
  text-align: center;
}

.tr_header_img_weather {
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 1000px) {
  .table_browser {
    font-size: 1rem;
    font-weight: bolder;
    text-wrap: nowrap;
  }
}

@media (max-width: 1000px) {
  .table_browser {
    font-size: 0.7rem;
    font-weight: bolder;
    text-wrap: wrap;
  }
}

@media (min-width: 1000px) {
  .tr_header_img_arrows {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1000px) {
  .tr_header_img_arrows {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1000px) {
  .tr_header_img_weather {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 1000px) {
  .tr_header_img_weather {
    height: 35px;
    width: 35px;
  }
}